.modal-box img {
  width: 100%;
}
.modal-footer {
  justify-content: space-evenly !important;
}
.modal-footer .fa-2x {
  font-size: 1.5rem !important;
}
.modal-footer div {
  cursor: pointer;
}
.modal-box {
  color: black;
}
